{{!-- put burgers to not devour list or already devour --}}
<li>
    {{#if devour}}
    {{name}}
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        Devour It!
    </button>
    {{else}}
    {{name}}

    {{/if}}
</li>